@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(137, 176, 221);
}

header{
    background-color:rgb(1, 1, 46);
    margin-bottom: 1rem;
}

.header-text {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color:#FFCC66;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 400px;
    text-align: center;
}

textarea{
    font-size: 1rem;
    box-sizing: border-box;
    display: block;
    border: 0;
    box-shadow: none;
    width: 100%;
    min-height: 20vh;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

#translate-button{
    padding: 0.5rem 2rem;
    margin: 1rem;
    size: rem;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    background-color:#FFCC66 ;
    color: rgb(1, 1, 46);
    font-weight: 700;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    background-color:rgb(1, 1, 46);
}

.footer-title {
    font-size: 1.5rem;
    text-align: center;
    color:#FFCC66;
    padding: 0.5rem;
} 

footer p {

    font-size: 1rem;
    max-width: 600px;
    color:#FFCC66;
    padding: 5px;
    margin-bottom: 1rem;
}